bin/*.exe
cygwin-*
home/.aws/credentials
home/.cache/*
home/.ssh/*.pem
home/.ssh/id_rsa
home/.bash_history
home/.vagrant/*
home/.vim/plugged/*
home/.bash_history
home/.s3cfg
home/.viminfo
packages/*