!bin/curl-7.46.0.exe
!bin/wget-1.17.1.exe
bin/*.exe
cygwin-*
home/.aws/credentials
home/.aws/shell/cache
home/.aws/shell/*.docs
home/.cache/*
home/.ssh/*.pem
home/.ssh/id_rsa
home/.bash_history
home/.vagrant/*
home/.vim/plugged/*
home/.bash_history
home/.s3cfg
home/.viminfo
packages/*